*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titlecolor {
    justify-content: center;
    display:flex;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 40px;
    align-items: center;
    padding-top: 32px;
    background-color: rgb(160, 0, 0);
    background-size: cover;
    border: 1px solid #333;
    border-radius: 25px;
    height: 3vh;
    padding-bottom: 32px;
    font-weight: bold;

}
.button {
    display:inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin:10px;
    text-decoration: none;
    font-weight: bolder;
}

.container {
    width: 320px;
    margin: 0 auto;
}

#button1 {
    background-color: red;
    color: azure;
}
#button2 {
    background-color: rgb(76, 0, 255);
    color: azure;
}
#button3 {
    background-color: rgb(0, 161, 73);
    color: azure;
}
#button4 {
    background-color: rgb(243, 247, 2);
    color: azure;
    text-shadow: #333;
}
#button5 {
    background-color: rgb(0, 0, 0);
    color: azure;
}
#button6 {
    background-color: rgb(122, 122, 122);
    color: azure;
}
#button7 {
    background-color: rgb(255, 81, 0);
    color: azure;
}
#button8 {
    background-color: rgb(199, 3, 224);
    color: azure;
}
.button:hover {
    background-color: #666;
}
